<a href="https://colab.research.google.com/github/RohanAwate9020/Python-practice-program/blob/main/Activity5Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('/spotify.csv')
print(df)

           Date  Shape of You  ...    HUMBLE.  Unforgettable
0    2017-01-06      12287078  ...        NaN            NaN
1    2017-01-07      13190270  ...        NaN            NaN
2    2017-01-08      13099919  ...        NaN            NaN
3    2017-01-09      14506351  ...        NaN            NaN
4    2017-01-10      14275628  ...        NaN            NaN
..          ...           ...  ...        ...            ...
361  2018-01-05       4492978  ...  2685857.0      2869783.0
362  2018-01-06       4416476  ...  2559044.0      2743748.0
363  2018-01-07       4009104  ...  2350985.0      2441045.0
364  2018-01-08       4135505  ...  2523265.0      2622693.0
365  2018-01-09       4168506  ...  2727678.0      2627334.0

[366 rows x 6 columns]

In [11]:
import pandas as pd
df = pd.read_csv('/spotify.csv')
newfile = pd.DataFrame()
df.to_csv('newfile.csv')
db = pd.read_csv('newfile.csv')
print("\t\t***Content from Spotify File***")
print(df)
print("\n\n***Content from Newfile which is copy of Spotify File***")
print(db)

		***Content from Spotify File***
           Date  Shape of You  ...    HUMBLE.  Unforgettable
0    2017-01-06      12287078  ...        NaN            NaN
1    2017-01-07      13190270  ...        NaN            NaN
2    2017-01-08      13099919  ...        NaN            NaN
3    2017-01-09      14506351  ...        NaN            NaN
4    2017-01-10      14275628  ...        NaN            NaN
..          ...           ...  ...        ...            ...
361  2018-01-05       4492978  ...  2685857.0      2869783.0
362  2018-01-06       4416476  ...  2559044.0      2743748.0
363  2018-01-07       4009104  ...  2350985.0      2441045.0
364  2018-01-08       4135505  ...  2523265.0      2622693.0
365  2018-01-09       4168506  ...  2727678.0      2627334.0

[366 rows x 6 columns]


***Content from Newfile which is copy of Spotify File***
     Unnamed: 0        Date  ...    HUMBLE.  Unforgettable
0             0  2017-01-06  ...        NaN            NaN
1             1  2017-01-07  ...        NaN            NaN
2             2  2017-01-08  ...        NaN            NaN
3             3  2017-01-09  ...        NaN            NaN
4             4  2017-01-10  ...        NaN            NaN
..          ...         ...  ...        ...            ...
361         361  2018-01-05  ...  2685857.0      2869783.0
362         362  2018-01-06  ...  2559044.0      2743748.0
363         363  2018-01-07  ...  2350985.0      2441045.0
364         364  2018-01-08  ...  2523265.0      2622693.0
365         365  2018-01-09  ...  2727678.0      2627334.0

[366 rows x 7 columns]

In [12]:
import pandas as pd
s1 = pd.Series([1, 3, 4, 5, 6, 2, 9])  
s2 = pd.Series([1.1, 3.5, 4.7, 5.8, 2.9, 9.3])
s3 = pd.Series(['a', 'b', 'c', 'd', 'e'])     
Data ={'first':s1, 'second':s2, 'third':s3}
dfseries = pd.DataFrame(Data)
print(dfseries)

   first  second third
0      1     1.1     a
1      3     3.5     b
2      4     4.7     c
3      5     5.8     d
4      6     2.9     e
5      2     9.3   NaN
6      9     NaN   NaN

In [13]:
import pandas as pd 
d1 =[[2, 3, 4], [5, 6, 7]] 
d2 =[[2, 4, 8], [1, 3, 9]] 
Data ={'first': d1, 'second': d2}  
df2d = pd.DataFrame(Data)    
print(df2d)

       first     second
0  [2, 3, 4]  [2, 4, 8]
1  [5, 6, 7]  [1, 3, 9]

In [19]:
import pandas as pd
df = pd.read_csv('/spotify.csv')
jsonfile = pd.DataFrame()
df.to_json('jsonfile.json')
tp= pd.read_csv('jsonfile.json')
print(tp)

Empty DataFrame
Columns: [{"Date":{"0":"2017-01-06", 1:"2017-01-07", 2:"2017-01-08", 3:"2017-01-09", 4:"2017-01-10", 5:"2017-01-11", 6:"2017-01-12", 7:"2017-01-13", 8:"2017-01-14", 9:"2017-01-15", 10:"2017-01-16", 11:"2017-01-17", 12:"2017-01-18", 13:"2017-01-19", 14:"2017-01-20", 15:"2017-01-21", 16:"2017-01-22", 17:"2017-01-23", 18:"2017-01-24", 19:"2017-01-25", 20:"2017-01-26", 21:"2017-01-27", 22:"2017-01-28", 23:"2017-01-29", 24:"2017-01-30", 25:"2017-01-31", 26:"2017-02-01", 27:"2017-02-02", 28:"2017-02-03", 29:"2017-02-04", 30:"2017-02-05", 31:"2017-02-06", 32:"2017-02-07", 33:"2017-02-08", 34:"2017-02-09", 35:"2017-02-10", 36:"2017-02-11", 37:"2017-02-12", 38:"2017-02-13", 39:"2017-02-14", 40:"2017-02-15", 41:"2017-02-16", 42:"2017-02-17", 43:"2017-02-18", 44:"2017-02-19", 45:"2017-02-20", 46:"2017-02-21", 47:"2017-02-22", 48:"2017-02-23", 49:"2017-02-24", 50:"2017-02-25", 51:"2017-02-26", 52:"2017-02-27", 53:"2017-02-28", 54:"2017-03-01", 55:"2017-03-02", 56:"2017-03-03", 57:"2017-03-04", 58:"2017-03-05", 59:"2017-03-06", 60:"2017-03-07", 61:"2017-03-08", 62:"2017-03-09", 63:"2017-03-10", 64:"2017-03-11", 65:"2017-03-12", 66:"2017-03-13", 67:"2017-03-14", 68:"2017-03-15", 69:"2017-03-16", 70:"2017-03-17", 71:"2017-03-18", 72:"2017-03-19", 73:"2017-03-20", 74:"2017-03-21", 75:"2017-03-22", 76:"2017-03-23", 77:"2017-03-24", 78:"2017-03-25", 79:"2017-03-26", 80:"2017-03-27", 81:"2017-03-28", 82:"2017-03-29", 83:"2017-03-30", 84:"2017-03-31", 85:"2017-04-01", 86:"2017-04-02", 87:"2017-04-03", 88:"2017-04-04", 89:"2017-04-05", 90:"2017-04-06", 91:"2017-04-07", 92:"2017-04-08", 93:"2017-04-09", 94:"2017-04-10", 95:"2017-04-11", 96:"2017-04-12", 97:"2017-04-13", 98:"2017-04-14", 99:"2017-04-15", ...]
Index: []

[0 rows x 2196 columns]

In [27]:
import pandas as pd
df1=pd.read_csv('/iris_virginica.csv')
df2=pd.read_csv("/spotify.csv")
comparison_values = df1.values != df2.values
print(comparison_values)

True

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  after removing the cwd from sys.path.

In [32]:
import pandas as pd
df = pd.read_csv('/spotify.csv')
df.dropna()
print(df)

           Date  Shape of You  ...    HUMBLE.  Unforgettable
0    2017-01-06      12287078  ...        NaN            NaN
1    2017-01-07      13190270  ...        NaN            NaN
2    2017-01-08      13099919  ...        NaN            NaN
3    2017-01-09      14506351  ...        NaN            NaN
4    2017-01-10      14275628  ...        NaN            NaN
..          ...           ...  ...        ...            ...
361  2018-01-05       4492978  ...  2685857.0      2869783.0
362  2018-01-06       4416476  ...  2559044.0      2743748.0
363  2018-01-07       4009104  ...  2350985.0      2441045.0
364  2018-01-08       4135505  ...  2523265.0      2622693.0
365  2018-01-09       4168506  ...  2727678.0      2627334.0

[366 rows x 6 columns]

In [30]:
import numpy as np
import pandas as pd
fruits = ['apples', 'oranges', 'cherries', 'pears']
S = pd.Series([20, 33, 52, 10], index=fruits)
print((S + 3) * 4)
print("======================")
print(np.sin(S))

apples       92
oranges     144
cherries    220
pears        52
dtype: int64
======================
apples      0.912945
oranges     0.999912
cherries    0.986628
pears      -0.544021
dtype: float64